.button-primary {
    background-color: #7E56DA;
    transition: background-color 0.1s ease-in-out;
}

.button-primary:hover {
    background-color: #603EBB;
    cursor: pointer;
}

.button-primary[disabled] {
    background-color: #C9B3EF;
    cursor: auto;
}

.button-secondary {
    border: 1px #7E56DA solid;
    color: #7E56DA;
    background-color: #ffffff;
    transition: background-color 0.1s ease-in-out, color 0.1s ease, border-color 0.1s ease;
}

.button-secondary:hover {
    border: 1px #603EBB solid;
    cursor: pointer;
    color: #603EBB;
    background-color: rgb(224, 240, 245);
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.get-started {
    width: 265px; height: 66px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 0px; top: 257px; position: absolute; background-color: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.contact-us {
    width: 159px; height: 45px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 1172px; top: 52px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.modal-backdrop {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1; /* Sit behind other elements but above the content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.btn-login {
    width: 318.20px; height: 44.40px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 111.74px; top: 384.80px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.btn-signup {
    width: 318.20px; height: 44.40px; padding-left: 24px; padding-right: 24px; padding-top: 10px; padding-bottom: 10px; left: 111.74px; top: 441.04px; position: absolute; border-radius: 8px; border: 1px #7E56DA solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.microsoft-icon {
    width: 53.28px; height: 53.28px; padding: 8px; left: 0px; top: 0px; position: absolute; border-radius: 10px; border: 1px #7E56DA solid;
}

.google-icon {
    width: 53.28px; height: 53.28px; padding: 8px; left: 0px; top: 0px; position: absolute; border-radius: 10px; border: 1px #7E56DA solid;
}

.link-forgot-password {
    width: 132.46px; height: 15.54px; left: 111.74px; top: 341.88px; position: absolute; color: #0569FF; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word;
}

input, select {
    border: none;
    outline: none;
    width: 100%;
}

.btn-signup-2 {
    width: 318.20px; height: 44.40px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 112px; top: 415px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.link-login {
    width: 80px; height: 18px; left: 311px; top: 603px; position: absolute; text-align: center; color: #0569FF; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word;
}

.btn-continue-on-forgot-password {
    width: 318px; height: 45px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 112px; top: 397px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.btn-continue-on-verification {
    width: 318px; height: 45px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 112px; top: 452px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.link-send-code {
    color: #0569FF; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word;
}

.btn-finish-reset-password {
    width: 318px; height: 45px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; left: 112px; top: 448px; position: absolute; background: #7E56DA; border-radius: 10px; justify-content: center; align-items: center; gap: 8px; display: inline-flex;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    background-color: #F8E4FF;
}

.task-check {
    width: 20px; height: 20px; left: 31px; top: 18px; position: absolute; border-radius: 9999px; border: 1px black solid;
}

.task-check:hover {
    border: 1.5px black solid;
    cursor: pointer;
}